apiVersion: v1
kind: Service
metadata:
  name: taskmanager-service
  namespace: cloudedu
  labels:
    app: taskmanager
    tier: frontend
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: taskmanager